@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
}
nav {
  padding-inline: 2rem;
  height: 100%;
}
.logo {
  font-size: 2em;
  font-weight: 700;
}
nav ul {
  display: flex;
  font-weight: 600;

  justify-content: end;
  height: 100%;
  align-items: center;
  list-style: none;
  gap: 2rem;
}
li:first-child {
  margin-right: auto;
}
.grid__main {
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-columns: 1fr 3fr;
  min-height: 100vh;
}
header {
  grid-column: 1/ -1;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  order: -1;
  position: relative;
  z-index: 1000;
}
main {
  background-color: rgb(241, 241, 241);
  order: 1;
  overflow: auto;
  padding: 2rem;
}
footer {
  grid-column: 1/-1;
  background-color: aqua;
  order: 2;
}
aside {
  grid-column-start: 1 / span 1;
  background-color: rgb(255, 255, 255);
  order: 0;
}
.grid__pl {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
}
.product {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 1rem;
  border-radius: 4px;
}
.product__img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}
.heading__main {
  grid-column: 1/-1;
}

@media only screen and (max-width: 37em) {
  .grid__main {
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 10vh 80vh 60px;
  }
}
